
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #181818;
}

#header {
  position: fixed;
  width: 600px;
  right: 35px;
  top: 35px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #212121;
  padding: 2vh;
  border-radius: 2vh;
  box-shadow: 0 5px 20px #0004;

  font-size: 100px;
  font-weight: 1000;
  font-style: italic;
  color: #eee;
  text-align: center;

  transition: 0.2s ease;
}

#header:hover {
  background-color: #333;
  height: 200px;
  transition: 0.2s ease;
}

#header:focus {
  background-color: #333;
  height: 250px;
  transition: 0.2s ease;
}

#header #content {
  display: flex;
  align-items: center;
}

#header #logout-button {
  display: block;
  position: absolute;
  top: 10vh;
  right: 2vh;
  width: 8vh;
  height: 4vh;
  min-width: 8vh;
  min-height: 4vh;
  box-shadow: 0 5px 20px #0004;
  align-self: center;
  margin-left: 2vw;
  background-color: #ff0000;
  color: #fff;
  border: 0.3vh solid #ff0000;
  border-radius: 2vh;
  font-size: 15px;
  font-weight: 1000;
  cursor: pointer;
}

#header #logout-button:hover {
  background-color: #ff5555;
}

#header #hidden {
  display: none;
}

#header:hover #hidden {
  display: block;
}

form {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 5vw;
}

input {
  width: 40vw;
  height: 2vw;
  background-color: #212121;
  color: #ccc;
  border: 0.3vh solid #ff0000;
  border-radius: 1.5vh;
  padding: 1.5vh;
  font-size: 2vw;
  box-shadow: 0 5px 20px #0004;
}

input:hover {
  background-color: #333;
}

input:focus {
  background-color: #333;
}

button[type=submit] {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 2vw;
  height: 2vw;
  min-width: 40px;
  min-height: 40px;
  padding: 5px;
  margin-left: 2vw;
  background-color: #ff0000;
  color: #eee;
  border: 0.3vh solid #ff0000;
  border-radius: 2vh;
  font-size: 30px;
  font-weight: 1000;
  box-shadow: 0 5px 20px #0004;
  cursor: pointer;
  transition: 0.2s;
}

button[type=submit]:hover {
  background-color: #ff5555;
  transition: 0.2s;
}

#spacer {
  height: 200px;
}

#error {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 40vw;
  height: 2vw;
  background-color: #ff0000;
  font-size: 2.5vw;
  font-weight: 1000;
  color: #eee;
  border-radius: 1.5vh;
  padding: 1.5vh;
  box-shadow: 0 5px 20px #0004;
  margin-left: 5vw;
  margin-top: 1vh;
}

#delete-error {
  width: 15px;
  height: 15px;
  min-width: 20px;
  min-height: 20px;
  padding: 5px;
  align-self: center;
  margin-left: 2vw;
  cursor: pointer;
}

