
<!DOCTYPE html>
<html>
  <head>

    <title>WATCHY</title>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

  </head>
  <body>

    <h1> WATCHY </h1>

    <form action="/login" method="POST">
      <label> Login to Watchy </label> <br></bR>

      <label> Username </label> <br>
      <input type="text" placeholder="Username" name="username" id="username"> <br>

      <label> Password </label> <br>
      <input type="password" placeholder="Password" name="password" id="password"> <br>
      <p id="error"> {% if error %} {{ error }} {% endif %} </p>

      <button id="submit"> Login </button>
    </form>

    <br>
    <a href="/register"> Do not have an account yet? </a>

  </body>
</html>
